.page-menu {
    background: $bg-dark-lemon-color;
    color: $black-color;
}




.page-menu__title {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.16;

    margin-bottom: 16px;
    @media screen and (min-width:1024px) {
        margin-bottom: 20px;
    }
}
.container-menu {
    padding-top: 32px;
    padding-bottom: 32px;
    @media screen and (min-width:1024px) {
        padding-top: 58px;
        padding-bottom: 40px;
    }
    @media screen and (min-width:1280px) {
        padding-top: 58px;
         padding-bottom: 60px;
        }
}