.table {
    table-layout: fixed;
    
        max-width: 485px;
        border-collapse: collapse;
        border: 3px solid purple;
}
th,
tr,
td {
    border: 1px solid aqua;
    text-align: start;
    
}
 